form{
    border:0;
    min-width: 360px;
    max-width: 520px;
    width: 100%;
}
input{
    height: 30px;
    border:0;
    border-bottom: 1px solid white;
    background-color:var(--color-principal);
    padding-top:10px;
    padding-bottom:0;
    padding-left: 5px;
    margin-top: 5px;
    font-size: 16px;
    color:white;
}
input::placeholder{
    color:white;
}
textarea:focus, input:focus{
    outline: none;
}
button{
    height: 30px;
    margin-top: 30px;
}