.st0{fill:#FFFFFF;}
	.st1{fill:#080408;}
	.st2{fill:#919291;}
	.st3{fill:#7D7D7D;}
	.st4{fill:#7C7B7B;}
	.st5{fill:#8A8A8A;}
	.st6{fill:#6D7371;}
	.st7{fill:#6D726F;}
	.st8{fill:#F0F0F1;}
	.st9{fill:#FDFDFD;}
	.st10{fill:#191917;}
	.st11{fill:#FAFAFA;}
	.st12{fill:#EFEFEF;}
	.st13{fill:#F9F9F9;}
	.st14{fill:#F6F6F6;}
	.st15{fill:#FBFBFB;}
	.st16{fill:#F7F8F7;}
	.st17{fill:#FCFDFC;}
	.st18{fill:#F7F8F8;}
	.st19{fill:#F1F1F2;}
	.st20{fill:#F2F2F3;}
	.st21{fill:#EDEDEE;}
	.st22{fill:#E3E3E5;}
	.st23{fill:#F1F2F2;}
	.st24{fill:#E9EAEC;}
	.st25{fill:#EBEBEC;}
	.st26{fill:#F4F3F5;}
	.st27{fill:#A9A8A9;}
	.st28{fill:#BFBEBE;}
	.st29{fill:#EFEFF0;}
	.st30{fill:#D5D4D7;}
	.st31{fill:#B0AEB3;}
	.st32{fill:#818084;}
	.st33{fill:#BFBEC0;}
	.st34{fill:#E1E0E4;}
	.st35{fill:#939296;}
	.st36{fill:#8C8D8F;}
	.st37{fill:#ABA9AB;}
	.st38{fill:#B2B1B3;}
	.st39{fill:#434343;}
	.st40{fill:#7B7576;}
	.st41{fill:#A4A7A5;}
	.st42{fill:#969795;}
	.st43{fill:#575C58;}
	.st44{fill:#595B58;}
	.st45{fill:#6D736C;}
	.st46{fill:#6A736B;}
	.st47{fill:#464A47;}
	.st48{fill:#494F4D;}
	.st49{fill:#4C514D;}
	.st50{fill:#595B5A;}
	.st51{fill:#3C3B38;}
	.st52{fill:#0E0D0E;}